body{
    font-family: 'Poppins', sans-serif;
    margin-top:0;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.name-color{
    color: orange;
}
.flaxibal-container{
    display: flex;
}
.half-width{
    width:50%;
    margin: 50px;

}
#img1{
    height: 450px;
    margin:50px;
}
button{
    height: 50px;
    width: 150px;
    background-image: linear-gradient(orange,tomato);
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    
    font-weight:700 ;
   
}
a{
    text-decoration: none;
}
.top-banner{
   background-image: url(images/top-banner.png); 
   background-repeat:no-repeat;
}

.drim-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.helf-width-card{
    width: 40%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 10px;
    border-radius: 10px;
    
    box-shadow: 10px 10px 40px grey;
}
.button-background{
    background-image: url(images/exp-bg.png);
    background-repeat:no-repeat;

}
#border-color-right{
    border-left: 7px solid blue;
}

#border-color-left{
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
    margin-top: 120px;
}
