body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    margin: 50px;

}
#img1{
    height: 450px;
    margin:50px;
}
button{
    height: 50px;
    width: 150px;
    background-image: linear-gradient(orange,tomato);
    color: aliceblue;
    font-size: 20px;
    border-radius: 10px;
    
    font-weight:700 ;
   
}
a{
    text-decoration: none;
}
.top-banner{
   background-image: url(images/top-banner.png); 
   background-repeat:no-repeat;
}

.drim-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}